extends ../layout

block content
    a(href='/bicicletas') volver
    br
    br
    br


    h1 Bicicletas Nuevas

    br
    br

    form(action='/bicicletas/create' method='post')
        lavel(for='id') ID:
        input#id(type='text' name='id')
        br
        lavel(for='color') Color:
        input#id(type='text' name='color')
        br
        lavel(for='modelo') Modelo:
        input#id(type='text' name='modelo')
        br
        lavel(for='lat') Lat:
        input#id(type='text' name='lat')
        br
        lavel(for='lng') Lng:
        input#id(type='text' name='lng')
        br
        br
        input.btn(type='submit' value='OK')